@import "vars";
@import "mixins";

.db {
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $db-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
    z-index: 1000;
    
  
  }
  &__create {
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #f00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    &:hover {
      color: green;
    }
  }

  
  &__new {
    margin-top: $db-header-height;
    padding: 1.5rem;
    background: #dadce0;
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 12px;
  }
  &__list {
    @include clear-list();
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 14px 12px 16px;
      border: 1px solid #000;
      margin-bottom: 10px;
      a {
        text-decoration: none;
        font-size: 14px;
        color: #111;
        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
  &__table {

  }
}