@import "vars";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;
  & .input {
    margin: 0;
    padding: 2px 7px;
    color: #000;
    border-radius: 2px;
    border: 1px solid transparent;
    height: 20px; 
    font-size: 18px;
    line-height: 22px;
    outline: none;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 2px solid #1a73e8;
    }
  }
  
  & .button {
    @include button(red);
  }
}